fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
redis==5.0.8
pillow==10.4.0
pillow-heif==0.18.0
requests==2.32.3
urllib3==2.2.2

# --- AI / Torch ---
torch==2.5.0
torchvision==0.20.0

